---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BlogPost.astro'

export async function getStaticPaths() {
  const getTags = ({ data }) => data.tags.map(tag => tag.toLowerCase())

  const posts = await getCollection('blog')
  const uniqueTags = Array.from(new Set(posts.map(getTags).flat()))

  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => getTags(post).includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
    <ul>
        {posts.map((post) => <li><a href={post.url}>{post.data.title}</a></li>)}
      </ul>
</BaseLayout>