---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date()}
>
  <p class="text-justify">
    If I were to describe who I am in one word, it would be an <strong
      >engineer</strong
    >. I graduated from the <a
      href="https://we.zut.edu.pl"
      target="_blank"
      rel="noreferrer noopener">electrical engineering department</a
    >
     in 2018 (field of study: control engineering & robotics - BSc, information
    and communications technology - MSc) . During my studies, I developed an
    interest in computer vision, which resulted in writing my thesis papers:
    <ul class="list-disc">
      <li>
        Engineering thesis: <i
          >Application of two-dimensional Gabor filters for vision based pattern
          recognition and classification</i
        >
      </li>
      <li>Master's thesis: <i>Vision system to identify fuel prices*</i></li>
    </ul>
    <div class="my-2">
      *thesis was awarded in <a
        href="https://we.zut.edu.pl/we-aktualnosci/article/uroczystosc-wreczenia-dyplomow-ukonczenia-studiow.html"
        target="_blank"
        rel="noreferrer noopener">yearly dean's competiton</a
      >, you can find abstract & overview <a
        href="https://github.com/jedluk/Master-thesis"
        target="_blank"
        rel="noreferrer noopener">here</a
      >
    </div>
  </p>
  <p class="text-justify">
    During my fifth year of studies, I started my first job in IT. I chose to
    work for <a
      href="https://avid.com/"
      target="_blank"
      rel="noreferrer noopener">Avid Technology</a
    >, a company that was expanding its office in Szczecin at that time. My time
    at this company is a mixed experience for me. On one hand, I encountered a
    lot of old and poorly written code. On the other hand, it was there that I
    learned React and Node, my favorites technologies that I still use today.
    Suffering from legacy code and desire to know web from inside was the reason
    why I decided to change job. As a reason I landed in <a
      href="https://teonite.com/"
      target="_blank"
      rel="noreferrer noopener">Teonite</a
    >, small, local software house. I learned quite a lot there, and the
    greatest value was the direct interaction with clients and understanding the
    end-to-end software development process. Our paths diverged after ~1.5
    years, when company run into stability problems. I temporarily ended up at <a
      href="https://apptimia.com/"
      target="_blank"
      rel="noreferrer noopener">Apptimia</a
    >, another local software house. But during my time there, there was no
    project for me, so I decided to move on. Next choice was <a
      href="https://www.globallogic.com/pl/"
      target="_blank"
      rel="noreferrer noopener">Meelogic, later acquired by Globallogic</a
    >
     (which was later acquired by Hitachi - pandemic combo 🤣🤣🤣). I worked for
    a German client for almost 2 years. Despite the pandemic, it was a great
    time for me because I got to know many wonderful people and I learned a lot
    as well. From this place I want to thank You John 🙏🙏🙏 for those long and
    insightful conversations during code reviews that helped me become a better
    developer. Since the beginning of 2022, I have been working for <a
      href="https://www.mobilephysics.com/"
      target="_blank"
      rel="noreferrer noopener">Mobile Physics</a
    >
     - Israel based climate-tech startup with a subsidiary in Poland. I work
    here as Senior Fullstack Developer.
  </p>
  <p>
    You can find my resume <a href="/my_resume.pdf" target="_blank">here.</a>
  </p>
</Layout>
