---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, Stranger 👩👨!</h1>
			<p class="text-justify">
				Welcome to Jedrzej Lukasiuk's home page. This is my little space in the universe. If you're interested in to know me better, go to <a href="/about">about</a> page. 
				Below, you'll find a visual list of technologies that are the subject of discussion on my blog (it's not an exhaustive list, but it will give you a general idea 
				of what to expect)
				<div class="flex flex-wrap [&>*]:mx-2 [&>*]:my-2 py-4">
					<img width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
					<img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
					<img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
					<img width="46" height="46" alt="OSM" src="/tech/osm.svg"/>
					<img alt="MapLibre" src="/tech/maplibre.svg"/>
					<img width="46" height="46" alt="ClickHouse" src="/tech/clickhouse.svg"/>
					<img width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg" />
					<img width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
					<img width="46" height="46" alt="OpenCV" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opencv/opencv-original.svg" />
				</div>
			</p>
			<p class="mt-1 text-justify">
				At the end let me explain why I've decided to run this blog. I strongly belive that each good developer should pay off his dept to open-source
				community either but contribuitng, or sharing knowledge. Your tech trace might eventually turn into your own <strong>monument</strong> just like ancient poet <i>Horace</i> says in his famous poem <q>Ode III, 30</q>
				<blockquote class="my-4 text-lg">
					Exegi monumentum aere perennius <br />
					regalique situ pyramidum altius, <br />
					quod non imber edax, non aquilo impotens <br />
					possit diruere aut innumerabilis <br />
					annorum series et fuga temporum.
				</blockquote>
			</p>
		</main>
		<Footer />
	</body>
</html>
