---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, Stranger 👩👨!</h1>
			<p class="text-justify">
				Welcome to Jedrzej Lukasiuk's home page. This is my little space in the universe. Since I am associated with the IT industry, 
				blog content is mostly related to software engineering. But I will also try to write about everyday matters, such as music I like, movies I've recenlty watched, 
				books which I value, and advices related to dog upbringing 🐶. Below, you can find a list of technologies that will probably be the topics of upcoming blog posts.
				<div class="flex [&>*]:mx-2 py-4">
					<img width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
					<img width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
					<img width="46" height="46" alt="ClickHouse" src="/tech/clickhouse.svg"/>
					<img alt="MapLibre" src="/tech/maplibre.svg"/>
					<img width="46" height="46" alt="Rust" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-plain.svg" />
					<img width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg" />
					<img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
					<img width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
					<img width="46" height="46" alt="OpenCV" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opencv/opencv-original.svg" />
					<img width="46" height="46" alt="NextJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" />
				</div>
			</p>
			<p class="mt-1 text-justify">
				At the end let me explain why I've decided to run this blog. I strongly belive that each <i class="underline">good</i> developer should pay off his dept to open-source
				community either but contribuitng, or sharing knowledge. Your tech trace might eventually turn into your own <i class="underline">monument</i> just like ancient poet <i>Horace</i> says in his famous poem <q>Ode III, 30</q>
				<blockquote class="my-4 text-lg">
					Exegi monumentum aere perennius <br />
					regalique situ pyramidum altius, <br />
					quod non imber edax, non aquilo impotens <br />
					possit diruere aut innumerabilis <br />
					annorum series et fuga temporum.
				</blockquote>
			</p>
		</main>
		<Footer />
	</body>
</html>
