---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, Stranger 👩👨!</h1>
			<p class="mt-2">
				Welcome to Jedrzej Lukasiuk's home page. This is little my little space in the universe. Since I am associated with the IT industry, 
				page content is mostly related to software engineering. But I will also try to write about everyday matters, such as music I like, movies I've recenlty watched, 
				books which I value, and the basics of gardening 🤪. Let's start the lecture with <i>Horace</i> famous poem <q>Ode III, 30</q>
			</p>
			<p class="mt-4">
				<blockquote>
					Exegi monumentum aere perennius <br />
					regalique situ pyramidum altius, <br />
					quod non imber edax, non aquilo impotens <br />
					possit diruere aut innumerabilis <br />
					annorum series et fuga temporum.
				</blockquote>
				
			</p>
		</main>
		<Footer />
	</body>
</html>
