---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="relative py-[2em] px-[1em]">
			<h1>Hello, Stranger!</h1>
			<p class="text-justify">
				Welcome to Jedrzej Lukasiuk's home page. This is my little space in the universe. If you'd like to get to know me better, go to <a href="/about">about</a> page. 
				On my blog you will find posts related to: 
				<i>React, Javascript, Typescript, NodeJS, Python, OpenCV, MapLibre, Open Street Map, ClickHouse</i> (it's not an exhaustive list, but it will give you a general idea of what to expect).
			</p>
			<p class="mt-1 text-justify">
				At the end let me explain why I've decided to run this blog. I strongly belive that each good developer should pay off his dept to open-source
				community either but contribuitng, or sharing knowledge. Your tech trace might eventually turn into your own <strong>monument</strong> just like ancient poet <i>Horace</i> says in his famous poem <q>Ode III, 30</q>
				<blockquote class="my-4 text-lg">
					Exegi monumentum aere perennius <br />
					regalique situ pyramidum altius, <br />
					quod non imber edax, non aquilo impotens <br />
					possit diruere aut innumerabilis <br />
					annorum series et fuga temporum.
				</blockquote>
			</p>
			<div class="tech-icons absolute top-0 left-0 w-full h-full overflow-hidden -z-10 [&>div]:block [&>div]:absolute [&>div]:bottom-[-150px] [&>div]:bg-center [&>div]:bg-contain [&>div]:bg-no-repeat">
				<div class="bg-[url('/tech/osm.svg')] w-20 h-20 left-1/4 animate-tech animation-delay-0" />
				<div class="bg-[url('/tech/react.svg')] w-8 h-8 left-[10%] animate-tech animation-delay-[2000ms] animation-duration-[12000ms]" />
				<div class="bg-[url('/tech/clickhouse.svg')] w-8 h-8 left-3/4 animate-tech animation-delay-[4000ms]" />
				<div class="bg-[url('/tech/js.svg')] w-16 h-16 left-[40%] animate-tech animation-delay-[2500ms] animation-duration-[18000ms]" />
				<div class="bg-[url('/tech/ts.svg')] w-8 h-8 left-[65%] animate-tech animation-delay-[3000ms]" />
				<div class="bg-[url('/tech/maplibre.svg')] w-28 h-28 left-[10%] animate-tech animation-delay-[3000ms]" />
				<div class="bg-[url('/tech/python.svg')] w-14 h-14 left-[20%] animate-tech animation-delay-[7000ms]" />
				<div class="bg-[url('/tech/nodejs.svg')] left-1/2 w-7 h-7 animate-tech animation-delay-[4000ms] animation-duration-[20000ms]" />
				<div class="bg-[url('/tech/opencv.svg')] -right-2 w-36 h-36 animate-tech animation-delay-0 animation-duration-[11000ms]" />
			</div>
		</main>
		<Footer />
	</body>
</html>
