---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import TechIcon from '../components/TechIcon.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="relative py-[2em] px-[1em]">
      <h1>Hello, Stranger!</h1>
      <p class="text-justify">
        Welcome to Jedrzej Lukasiuk's home page. This is my little space in the
        universe. If you'd like to get to know me better, go to <a href="/about"
          >about</a
        > page. On my blog you will find posts related to:
        <i
          >React, Javascript, Typescript, NodeJS, Python, OpenCV, MapLibre, Open
          Street Map, ClickHouse</i
        > (it's not an exhaustive list, but it will give you a general idea of
        what to expect).
      </p>
      <p class="mt-1 text-justify">
        At the end let me explain why I've decided to run this blog. I strongly
        belive that each good developer should pay off his dept to open-source
        community either but contribuitng, or sharing knowledge. Your tech trace
        might eventually turn into your own <strong>monument</strong> just like
        ancient poet <i>Horace</i> says in his famous poem <q>Ode III, 30</q>
        <blockquote class="my-4 text-lg">
          Exegi monumentum aere perennius <br />
           regalique situ pyramidum altius, <br />
           quod non imber edax, non aquilo impotens <br />
           possit diruere aut innumerabilis <br />
           annorum series et fuga temporum.
        </blockquote>
      </p>
      <div
        class="tech-icons absolute top-0 left-0 w-full h-full overflow-hidden -z-10 [&>div]:block [&>div]:absolute [&>div]:bottom-[-150px] [&>div]:bg-center [&>div]:bg-contain [&>div]:bg-no-repeat"
      >
        <TechIcon
          icon="osm.svg"
          classes="w-20 h-20 left-1/4"
          animationDelay={2000}
        />
        <TechIcon
          icon="react.svg"
          classes="w-8 h-8 left-[10%]"
          animationDelay={2000}
          animationTime={12_000}
        />
        <TechIcon
          icon="clickhouse.svg"
          classes="w-8 h-8 left-3/4"
          animationDelay={4000}
        />
        <TechIcon
          icon="js.svg"
          classes="w-16 h-16 left-[40%]"
          animationDelay={1500}
          animationTime={18000}
        />
        <TechIcon
          icon="ts.svg"
          classes="w-8 h-8 left-[65%]"
          animationDelay={3000}
        />
        <TechIcon
          icon="maplibre.svg"
          classes="w-28 h-28 left-[10%]"
          animationDelay={3000}
        />
        <TechIcon
          icon="python.svg"
          classes="w-14 h-14 left-[20%]"
          animationDelay={7000}
        />
        <TechIcon
          icon="nodejs.svg"
          classes="left-1/2 w-7 h-7"
          animationDelay={4000}
          animationTime={20000}
        />
        <TechIcon
          icon="opencv.svg"
          classes="-right-2 w-36 h-36"
          animationTime={11000}
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
