---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import TechIcon from '../components/TechIcon.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header title={SITE_TITLE} />
    <main class="relative py-[2em] px-[1em] flex-grow">
      <h1>Hi there, I'm <strong>Jędrzej</strong>!</h1>
      <h2 class="text-brand font-bold">I'm a Software Engineer</h2>
      <p class="text-justify">
        I specialize in the broadly understood JavaScript ecosystem (with React
        as primary tech). Feel free to play around with my website where you can
        find some interesting articles on my <a href="/blog/1">blog</a>.
      </p>
      <div class="absolute -z-10 top-0 left-0 w-full h-full overflow-hidden">
        <TechIcon icon="osm.svg" classes="w-20 h-20 left-1/4" delay={2} />
        <TechIcon
          icon="react.svg"
          classes="w-8 h-8 left-[10%]"
          delay={2}
          animationTime={12}
        />
        <TechIcon icon="clickhouse.svg" classes="w-8 h-8 left-3/4" delay={4} />
        <TechIcon
          icon="js.svg"
          classes="w-16 h-16 left-[40%]"
          delay={1.5}
          animationTime={18}
        />
        <TechIcon icon="ts.svg" classes="w-8 h-8 left-[65%]" delay={3} />
        <TechIcon
          icon="maplibre.svg"
          classes="w-28 h-28 left-[10%]"
          delay={3}
        />
        <TechIcon icon="python.svg" classes="w-14 h-14 left-[20%]" delay={7} />
        <TechIcon
          icon="nodejs.svg"
          classes="left-1/2 w-7 h-7"
          delay={4}
          animationTime={20}
        />
        <TechIcon
          icon="opencv.svg"
          classes="-right-2 w-36 h-36"
          animationTime={11}
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
