---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
		main {
			position: relative;
		}
		main ul {
			list-style-type: circle;
		}
		.tech-icons {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index:-1;
		}
		.tech-icons div {
			background-position: center; 
			background-repeat: no-repeat;
			background-size: contain; 
			position: absolute;
			display: block;
			animation: animate 25s linear infinite;
			bottom: -150px;
			
		}
		.tech-icons div:nth-child(1){
			background-image: url("/tech/osm.svg");
			left: 25%;
			width: 80px;
			height: 80px;
			animation-delay: 0s;
		}
		.tech-icons div:nth-child(2){
			border-radius: 10px;
			background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg");
			left: 10%;
			width: 30px;
			height: 30px;
			animation-delay: 2s;
			animation-duration: 12s;
		}
		.tech-icons div:nth-child(3){
			background-image: url("/tech/clickhouse.svg");
			left: 70%;
			width: 30px;
			height: 30px;
			animation-delay: 4s;
		}
		.tech-icons div:nth-child(4){
			background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg");
			left: 40%;
			width: 60px;
			height: 60px;
			animation-delay: 0s;
			animation-duration: 18s;
		}
		.tech-icons div:nth-child(5){
			background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg");
			left: 65%;
			width: 30px;
			height: 30px;
			animation-delay: 0s;
		}
		.tech-icons div:nth-child(6){
			background-image: url("/tech/maplibre.svg");
			left: 75%;
			width: 110px;
			height: 110px;
			animation-delay: 3s;
		}
		.tech-icons div:nth-child(7){
			background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg");
			left: 35%;
			width: 70px;
			height: 70px;
			animation-delay: 7s;
		}
		.tech-icons div:nth-child(8){
			background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg");
			left: 50%;
			width: 25px;
			height: 25px;
			animation-delay: 15s;
			animation-duration: 45s;
		}
		.tech-icons div:nth-child(9){
			background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opencv/opencv-original.svg");
			right: -10%;
			width: 150px;
			height: 150px;
			animation-delay: 0s;
			animation-duration: 11s;
		}

		@keyframes animate {

			0% {
				transform: translateY(0) rotate(0deg);
				opacity: 1;
			}
			50% {
				opacity: 0.4;
				filter: grayscale(1);
			}
			100%{
				transform: translateY(-1000px) rotate(720deg) scale(0.5);
				opacity: 0;
			}

		}
	</style>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, Stranger 👩👨!</h1>
			<p class="text-justify">
				Welcome to Jedrzej Lukasiuk's home page. This is my little space in the universe. If you'd like to get to know me better, go to <a href="/about">about</a> page. 
				On my blog, you will find posts related to: 
				<i>React, Javascript, Typescript, NodeJS, Python, OpenCV, MapLibre, Open Street Map, ClickHouse</i> (it's not an exhaustive list, but it will give you a general idea of what to expect).
			</p>
			<p class="mt-1 text-justify">
				At the end let me explain why I've decided to run this blog. I strongly belive that each good developer should pay off his dept to open-source
				community either but contribuitng, or sharing knowledge. Your tech trace might eventually turn into your own <strong>monument</strong> just like ancient poet <i>Horace</i> says in his famous poem <q>Ode III, 30</q>
				<blockquote class="my-4 text-lg">
					Exegi monumentum aere perennius <br />
					regalique situ pyramidum altius, <br />
					quod non imber edax, non aquilo impotens <br />
					possit diruere aut innumerabilis <br />
					annorum series et fuga temporum.
				</blockquote>
			</p>
			<div class="tech-icons">
				<div />
				<div />
				<div />
				<div />
				<div />
				<div />
				<div />
				<div />
				<div />
			</div>
		</main>
		<Footer />
	</body>
</html>
