---
import HeaderLink from './HeaderLink.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header
  class="bg-white dark:bg-[var(--bg-dark-light)] m-0 py-[0.5em] px-[1em] shadow-md"
>
  <nav class="flex items-center justify-between whitespace-nowrap text-black">
    <a href="/">
      <img
        class="w-8 h-8 md:w-10 md:h-10 rounded-md shadow-md shadow-violet-400/50 ease-linear duration-200"
        src="/jl.svg"
        alt="Jedrzej Lukasiuk home"
      />
    </a>
    <div class="grow"></div>
    <HeaderLink href="/blog/1">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <ThemeIcon />
  </nav>
</header>
