---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
  href={href}
  data-active={isActive}
  class="h-[35px] md:h-[50px] mr-1 sm:mr-2 sm:mb-0 px-1 rounded-md text-black dark:text-white hover:text-brand dark:hover:text-brand flex items-center active:font-semibold active:text-brand dark:active:text-brand"
  {...props}
>
  <slot />
</a>
<style></style>
