---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import moon from '../assets/moon.svg'
import sun from '../assets/sun.svg'
---

<header>
	<nav>
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>
		<div class="grow" />
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<button data-id="theme-toggler" class="w-[35px] h-[35px] md:w-[50px] md:h-[50px] flex justify-center items-center rounded-md hover:bg-slate-100">
			<img data-theme="dark" class="hidden invert" src={moon.src} alt="moon" /> 
			<img data-theme="light" class="hidden " src={sun.src} alt="sun" />
		</button>
	</nav>
</header>
<script>
	const body = document.querySelector('body')
	let theme = body?.dataset.theme ?? 'light'

	document.querySelector("[data-id='theme-toggler']")?.addEventListener('click', function () {
		if (body !== null) {
			theme = theme === 'light' ? 'dark' : 'light'
			body.dataset.theme = theme
			localStorage.setItem('theme', theme)
		}
	})
</script>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	body[data-theme="dark"] header {
		background: var(--bg-dark-light);
	}
	body[data-theme="light"] img[data-theme="light"] {
		display: block;
	}
	body[data-theme="dark"] img[data-theme="dark"] {
		display: block;
	}
	body[data-theme="dark"] header button:last-of-type:hover {
		background-color: var(--bg-dark);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	button[data-id="theme-toggler"] {
		margin-bottom: 5px;
	}
	@media (max-width: 576px) {
		nav {
			white-space: no-wrap;
		}
		nav a {
			padding: 0.5em 0.2rem;
			margin-right: 0.5rem;
		}
	}
</style>
