---
import HeaderLink from './HeaderLink.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header
  class="bg-white dark:bg-[var(--bg-dark-light)] m-0 py-0 px-[1em] shadow-md"
>
  <nav class="flex items-center justify-between whitespace-nowrap">
    <a href="/">
      <img
        class="w-8 h-8 md:w-10 md:h-10 rounded-md hover:-translate-y-1 shadow-md shadow-violet-400/50 ease-linear duration-200"
        src="/jl.svg"
        alt="Jedrzej Lukasiuk home"
      />
    </a>
    <div class="grow"></div>
    <div class="internal-links">
      <HeaderLink href="/blog/1">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <ThemeIcon />
  </nav>
</header>

<style>
  nav a {
    padding-inline: 0.5em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  nav a:hover {
    border-bottom-color: var(--accent);
  }
  @media (max-width: 576px) {
    nav a {
      padding: 0.5em 0.2rem;
      margin-right: 0.5rem;
    }
  }
</style>
