---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import moon from '../assets/moon.svg'
import sun from '../assets/sun.svg'
---

<header>
	<nav>
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>
		<div class="gap" />
		<button data-id="theme-toggler" class="w-[50px] h-[50px] flex justify-center items-center mr-1 rounded-md hover:bg-slate-100">
			<img data-theme="dark" class="hidden" src={moon.src} alt="moon" /> 
			<img data-theme="light" class="hidden" src={sun.src} alt="sun" />
		</button>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		
	</nav>
</header>
<script>
	const body = document.querySelector('body')
	const nextTheme = (theme: string) => theme === 'light' ? 'dark' : 'light'
	let theme = body?.dataset.theme ?? 'light'
	document.querySelector(`img[data-theme='${nextTheme(theme)}']`)?.classList.toggle('hidden')

	function toggleTheme () {
		document.querySelectorAll('img[data-theme]').forEach(el => el.classList.toggle('hidden'))
		if (body !== null) {
			theme = nextTheme(theme)
			body.dataset.theme = theme
			localStorage.setItem('theme', theme)
		}
	}
	document.querySelector("[data-id='theme-toggler']")?.addEventListener('click', toggleTheme)
</script>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	body[data-theme="dark"] header {
		background: rgb(var(--bg-theme-dark-light));
	}
	body[data-theme="dark"] header nav img path {
		fill: white;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	.gap {
		flex-grow: 1;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		padding-bottom: 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 576px) {
		nav {
			white-space: no-wrap;
		}
		nav a {
			padding: 0.5em 0.2rem
		}
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
